<footer class="site-footer border-top">
<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="footer-heading mb-4">Menus</h3>
                </div>
                <div class="col-md-6 col-lg-4">
                    <ul class="list-unstyled">
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                        <li><a href="#">Menu 3</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                    <ul class="list-unstyled">
                        <li><a href="#">Menu 5</a></li>
                        <li><a href="#">Menu 6</a></li>
                        <li><a href="#">Menu 7</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0"></div>
        <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
                <h3 class="footer-heading mb-4">Contactos</h3>
                <ul class="list-unstyled">
                    <li class="address">Luanda, Angola</li>
                    <li class="phone"><a href="tel://244927687190">+244 927 687 190</a></li>
                    <li class="email">email@email.com</li>
                </ul>
            </div>

            <div class="block-7">
                <form action="#" method="post">
                    <label for="email_subscribe" class="footer-heading">Assinar</label>
                    <div class="form-group">
                        <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                        <input type="submit" class="btn btn-sm btn-primary" value="Assinar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
            <p>
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>Todos os Direitos Reserados</a>
            </p>
        </div>

    </div>
</div>
</footer>